@import colors
@import fonts

.content
	min-height: 70vh
	width: 80vw
	background-color: $contentBg
	color: #000
	margin: 10vh auto
	max-width: 1200px
	opacity: 0.8
	box-shadow: 3px 3px 3px #fff
	padding: 20px
	z-index: 100
	border-radius: 10px

	p
		font-size: 22px
		text-align: justify
		opacity: 1

	button
		opacity: 1
		background-color: $green
		font-size: 22px
		color: #fff
		outline: none
		