@import colors
@import fonts

body
	background-color: $navy
	font-family: $lato
	padding-top: 50px
	width: 100vw
	display: flex
	justify-content: center
	align-content: center

@import navigation


	

@import content

